.menu-logo {
    cursor: pointer;
    display: none;
}
i {
    color: #833ae0;
    font-size: 25px;
}

.side-menu {
    display: flex;
    flex-direction: column;
    background-color: #c1a6e2;
    position: fixed;
    top: 0;
    right: 0;
    width: 210px !important;
    bottom: 0;
    transition: width 4s;
    padding: 20px;
    li {
        margin-top: 18px;
        width: 100%;
        padding: 16px;
        color: white !important;
        font-size: 15px !important;
        &:hover {
            border-bottom: 1px solid white;
            border-top: 1px solid white;
            li:first-child {
                border-top: none;
            }
        }
    }
}

@media screen and (max-width: 1172px) {
    #menu-logo {
        display: flex;
    }
    .menu {
        display: none;
    }
    .login {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        button {
            font-size: 0.688rem;
            margin-right: 25px;
        }
    }
}
@media screen and (min-width: 1173px) {
    .menu {
        display: flex;
    }
    #menu-logo {
        display: none;
    }
    .login {
        button {
            font-size: 11px;
        }
    }
}

@media screen and (max-width: 684px) {
    main {
        padding-left: 30px;
        padding-bottom: 30px;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .logo {
        display: none;
    }
    .login {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        i {
            margin-right: 20px;
        }
    }
        .container{
        width: 100% !important;
    }
    h1{
        display: flex;
        justify-content: center;
        text-align: center;
    }
  
}
@media screen and (max-width: 838px) {
    nav {
        display: flex;
        justify-content: space-around;
    }
    .menu-logo {
        display: flex;
        justify-content: flex-end;
    }
    .blocks-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .block{
        width: 90% !important;
    }
    h1{
        font-size: 2rem !important;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width:839px) and (max-width:1172px){
    .container{
        width: 65% !important;
    }
}